@media screen and (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 0px;
  }
  .button {
    text-align: center;
    .button-start {
      font-size: 14px;
      padding: 13px 28px;
    }
  }

  .heading {
    height: 425px;
    .login {
      padding-top: 20px;
    }
    .hapo-container {
      >p {
        margin-top: 80px;
        font-size: 14px;
      }
      .icon-container {
        padding-top: 40px;
        .icon {
          [class^="ti-"] {
            font-size: 25px;
          }
          p {
            font-size: 24px;
          }
        }
      }
      img {
        width: 144px;
      }
      padding: 40px 132px 0px 132px;
    }
  }
  .title {
    padding-top: 50px;
    h2 {
      font-size: 36px;
      line-height: 48px;
    }
    [class^="ti-"] {
      font-size: 30px;
    }
    text-align: center;
  }
  .abstract {
    text-align: center;
  }

  .content {
    line-height: 21px;
    .todo {
      height: 60px;
      margin-bottom: 20px;

    }
  }
  .project {
    height: 518px;
  }
  .today {
    height: 526px;
  }

  .daily {
    height: 520px;
  }

  .member-info {
    height: 557px;
  }

  .customer-info {
    height: 503px;
  }

  footer {
    .single-widget {
      h2 {
        font-size: 12.9px;
      }
    }
    .single-icon {
      ul {
        li {
          margin-right: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 96%;
    padding: 0px;
  }
}

